{% extends 'restaurant/base.html' %}
{% block content %}
<h1>Place Order</h1>
<form method="post">{% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{ form.as_p }}
        </div>
        <div class="col-md-6">
            {% for item in items %}
            <div class="mb-3">
                <label>{{ item.name }} (${{ item.price }})</label>
                <input type="number" name="item_{{ item.id }}" class="form-control" value="0" min="0">
            </div>
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit Order</button>
</form>
{% endblock %}